<%- include ('./layouts/head.ejs') %>
    <link rel="stylesheet" href="css/mainPage.css">
    <link rel="stylesheet" href="css/backToTopBtn.css">
        <section id="mainPage">
            <div class="navbar-top">
                <div class="d-flex">
                    <div class="p-2 flex-fill">
                        <%- include('./includes/navbarSubMenu.ejs') %>
                        <i id="user_icon" class="fa fa-user"></i>
                        <% if(userData) { %>
                        <span id="sickFullname">
                        تصاویر دندان خانم/آقای  <%= userData.fullname %>
                        </span>
                        <% } %>                        
                    </div>
                    <div class="p-2 flex-fill text-start">
                        <span id="clinicTitle" class="text-info"> درمانگاه تخصصی دندانپزشکی شهید منتظری </span>
                        <img src="img/hospital.png" width="25px" alt="Clinic">
                        <!-- <i class="fa fa-hospital-o text-info" style="font-size:25px;" aria-hidden="true"></i> -->
                    </div>
                </div>
            </div>
            <div id="imagesSection">
                <div id="imagesContainer" class="d-flex justify-content-center flex-wrap">

                    <% if (imageList==[]) { %>
                        <p>!!! داده ای برای این فرد ثبت نشده است  </p>
                        <%} else { %>
                            <% for(var i=0; i < imageList.length; i++) { %>
                                <div class="imageCard">
                                    <!-- <span id="statusBadge">دیده نشده</span> -->
                                    <img src="<%= imageList[i].imagePathFront %>" width="100%" height="200px" id="teethImages" alt="teethImages">
                                    <p>
                                        <i class="downloadBtn fa fa-download float-start m-3" data-filename="<%= imageList[i].imageFileName %>" onclick="downloadImage(this)"></i>
                                    <p class="float-end imageDate">
                                        <span>تاریخ انتشار:</span>
                                        <span id="day"><%= imageList[i].day %></span>
                                        <span> - </span>
                                        <span id="month"><%= imageList[i].month %></span>
                                        <span> - </span>
                                        <span id="year"><%= imageList[i].year %></span>
                                    </p>
                                    </p>
                                </div>
                                <% } %>
                            <% } %>

                  </div>
            </div>
            <a id="back_to_top_btn"></a>
        <script src="js/backToTopBtnFunctionality.js" ></script>
        <script src="js/navbarSubMenu.js" ></script>
        <script src="js/downloadImage.js" ></script>
        <script> 
        // reload page after 60min as the token expires in this time
        setTimeout(() => {
            location.reload();
        }, 1000 * 60 * 60);
        </script>
        </section>
